%h2{data: { bind: "text: question" }}
%p
  Please distribute
  %b{data: {bind: "text: pointsBudget"}}
  points between the following options.

%table
  %thead
    %tr
      %th Option
      %th Importance
  %tbody{data: {bind: "foreach: answers"}}
    %tr
      %td{data: {bind: "text: answerText"}}
      %td
        %select{data: {bind: "options: [1,2,3,4], value: points"}}

%p
  You've got
  %b{data: {bind: "text: pointsUsed()"}}
  points.

%h2 Section 1:
%p
  Stocks:
  %b{data: {bind: "text: percentStocks()"}}
%p
  Money Market:
  %b{data: {bind: "text: percentMM()"}}
%p
  Commodity:
  %b{data: {bind: "text: percentCommodity()"}}
%p
  Fixed Income:
  %b{data: {bind: "text: percentFixedIncome()"}}

%h2 Section 2:
%p
  Stocks:
  %b{data: {bind: "text: percentArray()[0]"}}
%p
  Money Market:
  %b{data: {bind: "text: percentArray()[1]"}}
%p
  Commodity:
  %b{data: {bind: "text: percentArray()[2]"}}
%p
  Fixed Income:
  %b{data: {bind: "text: percentArray()[3]"}}
