%h2{data: { bind: "text: question" }}
%p
  Please distribute
  %b{data: {bind: "text: pointsBudget"}}
  points between the following options.

%table
  %thead
    %tr
      %th Option
      %th Importance
  %tbody{data: {bind: "foreach: answers"}}
    %tr
      %td{data: {bind: "text: answerText"}}
      %td
        %select{data: {bind: "options: [1,2,3,4], value: points"}}

%p
  You've got
  %b{data: {bind: "text: pointsUsed()"}}
  points.
%p
  Points 01:
  %b{data: {bind: "text: pointsUsed01()"}}

%p
  %input{data: {bind: "value: firstName"}}
  %input{data: {bind: "value: lastName"}}
%span{data: {bind: "text: fullName()"}}
%p
  Full Name 01: 
  %span{data: {bind: "text: fullName()"}}